<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="active"><a href="buyer-dashboard.html"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li><a href="buyer-bookings.html" class="btn-edit-profile"><i class="icon-file-text2"></i>My Orders</a></li>
            <li><a href="buyer-reviews.html" class="btn-edit-profile"><i class="icon-comment2"></i>Profile settings</a></li>
            <li><a href="buyer-shortlists.html"><i class="icon-heart"></i>Change password</a></li>
            <li><a href="registration.html"><i class="icon-log-out"></i>Sign out</a></li>
        </ul>
    </div>
</div>